.App {
  height: 100vh;
  width: 100vw;
}

.Slider {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}

.ArrowRight {
  display: flex;
  position: absolute;
  top: 50%;
  right: 25px;
  height: 50px;
  width: 50px;
  justify-content: center;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  transition: transform ease-in 0.1s;
}

.ArrowRight:hover {
  transform: scale(1.1);
}

.ArrowRight img {
  transform: translateX(2px);
}

.ArrowRight img:focus {
  outline: 0;
}

.ArrowLeft {
  display: flex;
  position: absolute;
  top: 50%;
  left: 25px;
  height: 50px;
  width: 50px;
  justify-content: center;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  transition: transform ease-in 0.1s;
}

.ArrowLeft:hover {
  transform: scale(1.1);
}

.ArrowLeft img {
  transform: translateX(-2px);
}

.ArrowLeft img:focus {
  outline: 0;
}

.Dots {
  position: absolute;
  bottom: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
